.main-section {
  position: relative;
  padding: 3rem 2.25rem;
}

.main-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw - 680px);
  max-width: 50%;
  height: 100vh;

  transition: 0.2s linear;

  background: center/cover no-repeat url("../../assets/read_news.jpg");
}

@media screen and (max-width: 800px) {
  .main-section::before {
    width: 0px;
  }
}
