@import url("config/reset.css");
@import url("config/color.css");

@import url("components/header.css");
@import url("components/content.css");
@import url("components/form-newsletter.css");
@import url("components/button.css");
@import url("components/main-section.css");

@import url("responsive.css");

body {
  width: 100vw;
  max-width: 1366px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--body-bg-color);
}